
nav{
  position: relative;
  display: grid;
  text-align: center;
  top: 330px;
  width: 380px;
  left: 34%;
}
section.portada{
  position: relative;
  text-align: center;
  border-bottom: 2px solid black;
}
section p{
  font-family: Berkshire Swash;
  font-size: 1.6em;
  text-shadow: 1px 3px darkgreen;
}
header{
  position: relative;
  text-align: center;
  border-bottom: 3px solid black;
  background: radial-gradient(ellipse, green 10%,black 60%);
}

body{
  background: linear-gradient(to bottom, black 19% ,green 100% , black  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
a{
  text-decoration: none;
  color: black;
}

footer{
  position: relative;
  display: block;
  top: 25%;
}
img#trans{
  position: absolute;
  right: 0px;
  opacity: 0.2;
}
img#mapa{
  position: relative;
  float: right;
  display: block;
  z-index: 3;
}

img#mapa:hover{
  position: relative;
  z-index: 2;
  transform: translate(-650px,350px) scale(11.1);
  transition: 1s;
}
nav ul{
  list-style-type: none;
}

nav ul li{
  width: 300px;
  font-family: Bangers;
  font-size: 1.6em;
  border-radius: 10px;
  margin: 10px;
  background: radial-gradient(ellipse, green 5%,black 80%,#004000 90%);

}
nav ul li:hover{
  width: 300px;
  font-family: Bangers;
  font-size: 1.6em;
  border-radius: 10px;
  margin: 10px;
  background: radial-gradient(ellipse, lightgreen 5%,black 80%,#004000 90%);

}

body.como{
  background: linear-gradient(to bottom, black 5% ,green 20% );
  background-size: 100% 100%;
}
footer.como{
  text-align: center;
  font-family: Bangers;
  font-size: 1.6em;
}
footer.como a:hover{
  text-align: center;
  font-family: Bangers;
  color: white;
}
div.como p{
  font-family: arial;
  font-size: 1.2em;
  text-shadow: none;
}
div.como h1,h2,h3,h4{
  color: white;
  text-shadow: 1px 3px black;
  font-family: Bangers;
  font-size: 2em;
}
div.como p.primero{
  color: white;
  text-shadow: 1px 3px darkgreen;
}
img#hoja{
  position: relative;
  float: left;
  display: block;
  z-index: 3;
}
img#hoja:hover{
  position: relative;
  float: left;
  display: block;
  transform: scale(1.4);
  transition: 1.5s;
  z-index: 3;
}
nav.hojaventuras{
  position: relative;
  top: 10px;
  width: 650px;
  font-family: Bangers;
  color: white;
  font-size: 1.3em;
}
div.h1{
width: 200px;
position: relative;
float: left;
}
div.h2{
width: 200px;
position: relative;
float: right;
}
div.puntos{
  width: 600px;
  position: relative;
  right: 100px;
}
div.habilidades, div.mochila{
  width: 100px;
  position: relative;
}
div.armas, div.palabras, div.objetos{
  width: 100px;
  position: relative;
  left: 675px;
  bottom: 430px;
}
legend{
  font-family: Bangers;
  color: white;
  font-size: 1.3em;
}
footer.hojaventuras{
  position: relative;
  text-align: center;
  font-family: Bangers;
  font-size: 1.6em;
  top: 200px;
}
footer.hojaventuras a:hover{
  text-align: center;
  font-family: Bangers;
  color: white;
}
section.hojaventuras{
  position: relative;
  top: 100px;
  height: 450px;
}
body.hojaventuras{
  height: 1100px;
}
div.titulo{
  font-size: 1.7em;
}
